
<table class="tx-easyvote-competition" >
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.title" />
		</td>
		<td>
		{participation.title}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.description" />
		</td>
		<td>
		{participation.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.image" />
		</td>
		<td>
				<f:image src="{participation.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.media" />
		</td>
		<td>
		{participation.media}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.language" />
		</td>
		<td>
		{participation.language}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_participation.voting_enabled" />
		</td>
		<td>
		{participation.votingEnabled}
		</td>
	</tr>
</table>