<h2><f:translate key="participation.share" /></h2>
<div class="share-links">
	<a class="share-popup" href="https://www.facebook.com/sharer/sharer.php?u={f:uri.page(absolute: 'TRUE', pageUid:settings.competitionHomePid, additionalParams:{tx_easyvotecompetition_competitiondetail:{participation:participation.uid}})}">
		<i class="social-icon facebook"><span class="sr-only">Facebook</span></i>
	</a>
	<a class="share-popup" href="https://twitter.com/home?status={participation.title} - {f:uri.page(pageUid:settings.competitionHomePid, absolute: 'TRUE', additionalParams:{tx_easyvotecompetition_competitiondetail:{participation:participation.uid}})} @easyvote_ch">
		<i class="social-icon twitter"><span class="sr-only">Twitter</span></i>
	</a>
</div>
<div class="share-uri">
	<input type="text" onclick="select()" id="participationLink" value="{f:uri.page(pageUid:settings.competitionHomePid, absolute: 'TRUE', additionalParams:{tx_easyvotecompetition_competitiondetail:{participation:participation.uid}})}" />
</div>