{namespace h=Helhum\TyposcriptRendering\ViewHelpers}
<f:if condition="{participation.competition.votingPeriodIsActive}">
	<f:if condition="{participation.votingEnabled}">
		<div class="voting">
			<f:if condition="{communityUser.uid} > 0">
				<f:then>
					<f:if condition="{participation.userCanVote}">
						<f:then>
							<a class="voteForParticipation hasTooltip" href="#" data-participation="{participation.uid}">
								<i class="evicon-like voting-enabled"></i> <f:translate key="voting.vote" />
							</a>
							<div class="hidden">
								<f:switch expression="{participation.competition.votingFrequency}">
									<f:case value="2"><f:translate key="voting.votingAllowedOncePerDay" /></f:case>
									<f:case default="TRUE"><f:translate key="voting.votingAllowedOnceOnly" /></f:case>
								</f:switch>
							</div>
						</f:then>
						<f:else>
							<a class="voteForParticipation-alreadyVoted hasTooltip" href="#" data-participation="{participation.uid}">
								<i class="evicon-like voting-disabled"></i> <f:translate key="voting.alreadyVoted" />
							</a>
							<div class="hidden">
								<f:switch expression="{participation.competition.votingFrequency}">
									<f:case value="2"><f:translate key="voting.votingAllowedOncePerDay" /></f:case>
									<f:case default="TRUE"><f:translate key="voting.votingAllowedOnceOnly" /></f:case>
								</f:switch>
							</div>
						</f:else>
					</f:if>
				</f:then>
				<f:else>
					<a class="voteForParticipation-notAuthenticated" href="#" data-participation="{participation.uid}">
						<i class="evicon-like voting-disabled"></i> <f:translate key="voting.loginToVote" />
					</a>
				</f:else>
			</f:if>
		</div>

	</f:if>
</f:if>