<h2><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.header" /></h2>
<p><f:translate key="LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.shareYourOpinion" /></p>
<f:if condition="{value} == {voteUpValue}">
	<f:then>
		<a class="fb-share-link" data-description="{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')}!" data-href="{f:uri.page(absolute: 'TRUE', pageUid:settings.votingPid, additionalParams:{L:'0', tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}">
			<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-share.png" alt="Share" />
		</a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayYes')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')} " data-url="http://www.easyvote.ch/{f:uri.page(pageUid:settings.votingPid, absolute: TRUE, additionalParams:{tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-via="easyvote_ch" data-count="none">Tweet</a>
	</f:then>
	<f:else>
		<a class="fb-share-link" data-description="{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')}!" data-href="{f:uri.page(absolute: 'TRUE', pageUid:settings.votingPid, additionalParams:{tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}">
			<f:image src="EXT:easyvote/Resources/Public/Images/button-facebook-share.png" alt="Share" />
		</a>
		<a href="https://twitter.com/share" class="twitter-share-button" data-text="{f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.iSayNo')} - '{votingProposal.shortTitle}'. {f:translate(key:'LLL:EXT:easyvote/Resources/Private/Language/locallang.xlf:votingAnswer.getInformation')} " data-url="http://www.easyvote.ch/{f:uri.page(pageUid:settings.votingPid, absolute: TRUE, additionalParams:{tx_easyvote_currentvotings:{selectSingle:metaVotingProposal.uid}})}" data-via="easyvote_ch" data-count="none">Tweet</a>
	</f:else>
</f:if>