{namespace h=Helhum\TyposcriptRendering\ViewHelpers}

<f:layout name="Default" />

<f:section name="main">
	<div class="competition-detail">
		<f:switch expression="{participation.competition.type}">
			<f:case value="1">
				<f:comment>Text</f:comment>
				<f:render partial="Participation/TextItemOutput" arguments="{participation:participation, communityUser:communityUser}" />
			</f:case>
			<f:case value="2">
				<f:comment>Image</f:comment>
				@todo
			</f:case>
			<f:case value="3">
				<f:comment>Multimedia</f:comment>
				@todo
			</f:case>
		</f:switch>
	</div>
	<script>
		var getParticipationsUri = '<h:uri.ajaxAction controller="Participation" action="listByCompetition" arguments="{competition:participation.competition}" />';
		var voteForParticipationUri = '<h:uri.ajaxAction controller="Participation" action="addVote" />';
	</script>
</f:section>