
<table class="tx-easyvote-competition" >
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.type" />
		</td>
		<td>
		{competition.type}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.title_short" />
		</td>
		<td>
		{competition.titleShort}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.title_long" />
		</td>
		<td>
		{competition.titleLong}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.description" />
		</td>
		<td>
		{competition.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.image" />
		</td>
		<td>
				<f:image src="{competition.image.originalResource.publicUrl}" width="200"/>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.voting_frequency" />
		</td>
		<td>
		{competition.votingFrequency}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_easyvotecompetition_domain_model_competition.participation_end_date" />
		</td>
		<td>
		{competition.participationEndDate -> f:format.date()}
		</td>
	</tr>
</table>